<%= f.fields_for :play do |p| %>
  <div class="col-xs-12 name-box">
    <%= p.label :"訪れた場所" %><span class="required">必須</span>
    <%= p.text_field :name, class: "col-xs-12 new-name" %>
  </div>

  <div class="col-xs-12 impression-box">
    <%= p.label :"感想" %><span class="required">必須</span>
    <p>※1000文字以内で記載ください</p>
    <%= p.text_area :impression, class: "col-xs-12 impression" %>
  </div>

  <div class="col-xs-12 price-box">
    <%= p.label :"大人料金" %><span class="required">必須</span>
    <%= p.text_field :adult_price, class: "price" %><span>円</span>
    <%= p.label :"子供料金",class: "child-label" %><span class="required">必須</span>
    <%= p.text_field :child_price, class: "price" %><span>円</span>
    <p>※0円の場合が無料と表示されます</p>
  </div>

  <div class="col-xs-12 address-box">
    <%= p.label :"住所"%><span class="required">必須</span>
    <%= p.text_field :address, class: "col-xs-12 address" %>
  </div>

  <% if current_user.is_diaper == true && current_user.is_child == true %>
    <div class="col-xs-12 diaper_place-box">
      <%= p.label :"オムツ変える場所" %>
      <%= p.radio_button :is_diaper_place, true, class: "radio_button" %>
      <%= p.label :is_diaper_place_true, "ある", value: :true %>
      <%= p.radio_button :is_diaper_place, false, checked: true, class: "radio_button" %>
      <%= p.label :is_diaper_place_false, "ない", value: :false %>
    </div>
  <% end %>

  <div class="col-xs-12 parking-box">
    <%= p.label :"駐車場" %><span class="required">必須</span>
    <%= p.select :parking, Play.parkings.keys, prompt: "-- 選択してください --" %>
  </div>

  <div class="col-xs-12 official_site-box">
    <%= p.label :"公式サイトのURL" %>
    <p>※あれば記載してくさい</p>
    <%= p.text_field :official_site, class: "col-xs-12 official_site" %>
  </div>
<% end %>
