<div class="show-category">
  <p class="play-box">遊び</p>
</div>
<div class="show-box col-xs-12">
  <div class="show-title">
    <p>訪れた場所:　</p>
    <div class=title-text>
      <p><%= travel.play.name %></p>
    </div>
  </div>
  <div class="show-option clearfix">
    <ul>
      <% if travel.user.is_diaper == true %>
        <li>オムツを変える場所:</li>
        <li>
          <% if travel.play.is_diaper_place == true %>
            <p>あり</p>
          <% else %>
            <p>なし</p>
          <% end %>
        </li>
      <% end %>
      <% if travel.traffic_way == "車" %>
        <li>駐車場:</li>
        <li><%= travel.play.parking %></li>
      <% end %>
    </ul>
  </div>
  <div class="show-impression">
    <p>感想</p>
    <div class="impression-text">
      <p class="text"><%= travel.play.impression %></p>
    </div>
  </div>

  <div class="show-price clearfix">
    <ul>
      <li>大人料金</li>
      <li>
        <% if travel.play.adult_price == 0 %>
          <p>無料</p>
        <% else %>
          <p><%= travel.play.adult_price %>円　</p>
        <% end %>
      </li>
      <li>子供料金</li>
      <li>
        <% if travel.play.child_price == 0 %>
          <p>無料</p>
        <% else %>
          <p><%= travel.play.child_price %>円</p>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="show-address">
    <p>住所:　<span id="play-address"><%= travel.play.address %></span></p>
  </div>
  <div id="play-map"></div>
  <div class="show-official_site">
    <%= link_to "公式サイト", travel.play.official_site %>
  </div>
  <div class="show-created_at">
    <p>投稿日:　<%= travel.created_at.to_s(:datetime_jp) %></p>
  </div>
</div>
