<div class="follow-box">
	<table class="table">
		<thead>
	    <% users.each do |user| %>
	  		<tr>
	  			<th>
	          <%= image_tag user.user_image_id.url,class: "user_show_follow_icon" %>
	        </th>
	  			<th>
						<%= link_to user_path(user), data: {"turbolinks" => false} do %>
							<%= user.name %>
						<% end %>
					</th>
	  			<th>投稿</th>
	        <th>写真</th>
	        <th>いいね</th>
	        <th>
						フォロー：<%= user.followings.count %>
					</th>
	        <th>
						フォロワー：<%= user.followers.count %>
					</th>
					<th class="follow-<%= user.id %>">
						<%= render "relationships/follow_btn", user: user %>
					</th>
	  		</tr>
	    <% end %>
		</thead>
	</table>
</div>
