<% if @user == current_user %>
  <% provide(:title, "マイページ") %>
<% else %>
  <% provide(:title, "#{@user.name}詳細") %>
<% end %>
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <div class="quit_btn col-xs-12">
      <% if @user == current_user %>
        <%= link_to '退会する', quit_user_path(@user), class: "glyphicon glyphicon-tint btn btn-danger  pull-right" %>
      <% end %>
    </div>
    <%= render "user_show", user: @user %>

    <div class="user_index_btn col-xs-12">
      <ul class="clearfix" id="tab-menu">
        <li>
          <%= link_to "#travel", class: "active" do %>
            投稿:<%= @user_travels.count %>件
          <% end %>
        </li>
        <li>
          <%= link_to "#picture", class: "" do %>
            写真:<%= @user_travel_images.count %>件
          <% end %>
        </li>
        <div id="user_id">
          <%= @user.id %>
        </div>
        <li>
          <%= link_to "#like", class: "", id: "like_btn" do %>
            <p id="like-count">いいね:<%= @user.likes.count %>件</p>
          <% end %>
        </li>
        <li class="user_show_follow">
          <%= link_to "#follow", class: "" do %>
            <p class="folow-count">フォロー:<%= @user.followings.count %></p>
          <% end %>
        </li>
        <li class="user_show_follower">
          <%= link_to "#follower", class: "" do %>
            <p class="folow-count2">フォロワー:<%= @user.followers.count %></p>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="clearfix col-xs-12" id="tab-contents" >
      <div id="travel" class="tab">
        <%= render "user/travels/travel_index", travels: @user_travels %>
      </div>
      <div id="picture" class="tab">
          <%= render "user/travels/image_index", user_travel_images: @user_travel_images %>
      </div>
      <div id="like" class="tab">
        <%= render "user/travels/travel_index", travels: @like_travels %>
      </div>
      <div id="follow" class="tab">
        <%= render "relationships/follows_user", users: @user_follows %>
      </div>
      <div id="follower" class="tab">
        <%= render "relationships/follows_user", users: @user_followers %>
      </div>
    </div>
  </div>
</div>
</div>
