<%= f.fields_for :meal do |m| %>
  <div class="col-xs-12 name-box">
    <%= m.label :"店名" %><span class="required">必須</span>
    <%= m.text_field :shop_name, class: "col-xs-12 new-name" %>
  </div>

  <div class="col-xs-12 impression-box">
    <%= m.label :"感想" %><span class="required">必須</span>
    <p>※1000文字以内で記載ください</p>
    <%= m.text_area :impression, class: "col-xs-12 impression" %>
  </div>

  <div class="col-xs-12 price-box">
    <%= m.label :"大人料金" %><span class="required">必須</span>
    <%= m.text_field :adult_price, class: "price" %><span>円</span>
    <%= m.label :"子供料金" %><span class="required">必須</span>
    <%= m.text_field :child_price, class: "price" %><span>円</span>
    <p>※　0円の場合が無料と表示されます</p>
  </div>

  <div class="col-xs-12 address-box">
    <%= m.label :"住所" %><span class="required">必須</span>
    <%= m.text_field :address, class: "col-xs-12 address" %>
  </div>

  <% if current_user.is_baby_food == true && current_user.is_child == true %>
    <div class="col-xs-12 diaper_place-box">
      <%= m.label :"離乳食持ち込みOK？" %>
      <%= m.radio_button :is_baby_food_place, true, class: "radio_button" %>
      <%= m.label :is_baby_food_place, "OK", value: :true %>
      <%= m.radio_button :is_baby_food_place, false, checked: true, class: "radio_button"  %>
      <%= m.label :is_baby_food_place, "NG", value: :false %>
    </div>
  <% end %>

  <div class="col-xs-12 parking-box">
    <%= m.label :"駐車場" %><span class="required">必須</span>
    <%= m.select :parking, Meal.parkings.keys, prompt: "-- 選択してください --" %>
  </div>

  <div class="col-xs-12 official_site-box">
    <%= m.label :"公式サイトのURL" %>
    <p>※　あれば記載してくさい</p>
    <%= m.text_field :official_site, class: "col-xs-12 official_site" %>
  </div>
<% end %>
