<div class="col-xs-12 name-box">
  <%= f.label :"店名" %>
  <%= f.text_field :meal_name, class: "col-xs-12 new-name" %>
</div>

<div class="col-xs-12 impression-box">
  <%= f.label :"感想" %>
  <p>※1000文字以内で記載ください</p>
  <%= f.text_area :meal_impression, class: "col-xs-12 impression" %>
</div>

<div class="col-xs-12 price-box">
  <%= f.label :"大人料金" %>
  <%= f.text_field :meal_adult_price %><span>円</span>
  <%= f.label :"子供料金" %>
  <%= f.text_field :meal_child %><span>円</span>
  <p>※　0円の場合が無料と表示されます</p>
</div>

<div class="col-xs-12 address-box">
  <%= f.label :"住所" %>
  <%= f.text_field :meal_address, class: "col-xs-12 address" %>
</div>

<% if current_user.is_baby_food == true %>
  <div class="col-xs-12 diaper_place-box">
    <%= f.label :"離乳食持ち込みOK？" %>
    <%= f.radio_button :is_baby_food_place, true, class: "radio_button" %>
    <%= f.label :is_baby_food_place, "OK", value: :true %>
    <%= f.radio_button :is_baby_food_place, false, checked: true, class: "radio_button"  %>
    <%= f.label :is_baby_food_place, "NG", value: :false %>
  </div>
<% end %>

<%# if Travel.traffic_ways == 0 %>
  <div class="col-xs-12 parking-box">
    <%= f.label :"駐車場" %>
    <%= f.select :meal_parking, Meal.parkings.keys, prompt: "-- 選択してください --" %>
  </div>
<%# end %>

<div class="col-xs-12 official_site-box">
  <%= f.label :"公式サイトのURL" %>
  <p>※　あれば記載してくさい</p>
  <%= f.text_field :meal_official_site, class: "col-xs-12 official_site" %>
</div>
