<% provide(:title, "投稿編集") %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="travel-new">
        <h2 class="travel-new-header">投稿編集</h2>
        <%= form_with(model:@travel, url:travel_path, local:true, method: :patch) do |f| %>
          <%= render "layouts/error_messages", resource: @travel %>
          <div class="image-new">
            <div class="">
              <%= f.label :"画像" %><span class="required">必須</span>
              <p>※最大5枚までアップロードできます</p>
            </div>

            <div class="travel__drop__box__container">
              <div class="preview-content">
                <% @travel.travel_images.each do |image| %>
                  <div class="preview-box">
                    <div class="upper-box">
                      <%= image_tag image.image_url.to_s, width: "170", height: "150", alt: "preview" %>
                    </div>
                    <div class="lower-box">
                      <div class="delete-box">
                        <span>削除</span>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="label-content">
                <label for="travel_images_attributes_<%= @travel.travel_images.length %>_image" class="label-box" id="label-box--<%= @travel.travel_images.length %>">
                  <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
                </label>
              </div>
              <div class="hidden-content">
                <%= f.fields_for :travel_images do |image| %>
                  <%= image.file_field :image_url, type: 'file', name: "travel[travel_images_attributes][#{image.index}][image_url]", value: "a", id: "travel_images_attributes_#{image.index}_image", class:"hidden-field added" %>
                  <%= image.check_box :_destroy, class: "hidden-checkbox" %>
                <% end %>
                <% @travel.travel_images.length.upto(4) do |i| %>
                  <%= f.file_field :image_url, type: 'file', name: "travel[travel_images_attributes][#{i}][image_url]", id: "travel_images_attributes_#{i}_image", class:"hidden-field" %>
                <% end %>
              </div>
            </div>
          </div>
          
          <%= render "new-edit", f: f, travel: @travel %>
          <div class="submit-btn col-xs-12">
            <%= f.submit "更新", class: "btn btn-primary pull-right", id:"travel-submit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
