<div class="row">
  <div class="col-xs-12">
    <div class="travel-new">
      <h2 class="travel-new-header">新規投稿</h2>
      <%= form_with(model:@travel, url:travels_path, local:true, method: :post) do |f| %>
      <%= render "layouts/error_messages", resource: @travel %>

      <% unless @play == nil %>
        <%= render "layouts/error_messages", resource: @play %>
      <% end %>

      <% unless @hotel == nil %>
        <%= render "layouts/error_messages", resource: @hotel %>
      <% end %>

      <% unless @meal == nil %>
        <%= render "layouts/error_messages", resource: @meal %>
      <% end %>

      <%#= render "layouts/error_messages", resource: @image %>
      <div class="image-new">
        <div class="">
          <%= f.label :"画像" %>
          <p>※最大5枚までアップロードできます</p>
        </div>

        <div class="travel__drop__box__container">
          <div class="preview-content">
          </div>
          <div class="label-content">
            <label for="travel_images_attributes_0_image" class="label-box" id="label-box--0">
              <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
            </label>
          </div>
          <div class="hidden-content">
            <%= f.fields_for :images do |i| %>
              <%= i.file_field :image_url, type: 'file', class: "hidden-field", id:"travel_images_attributes_0_image" %>
              <%= i.file_field :image_url, type: 'file', class: "hidden-field", id:"travel_images_attributes_1_image" %>
              <%= i.file_field :image_url, type: 'file', class: "hidden-field", id:"travel_images_attributes_2_image" %>
              <%= i.file_field :image_url, type: 'file', class: "hidden-field", id:"travel_images_attributes_3_image" %>
              <%= i.file_field :image_url, type: 'file', class: "hidden-field", id:"travel_images_attributes_4_image" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-new">
        <div class="col-xs-12 title-box">
          <%= f.label :"タイトル" %>
          <%= f.text_field :title, class: "col-xs-12 title" %>
        </div>

        <div class="col-xs-3">
          <div class="traffic-way-box">
            <%= f.label :"交通手段" %>
            <%= f.select :traffic_way, Travel.traffic_ways.keys, prompt: "-- 選択してください --", class: "col-xs-12" %>
          </div>
          <div class="recommend-age-box">
            <%= f.label :"おすすめ年齢" %>
            <%= f.text_field :recommend_age, class: "recommend-age" %><span>才</span>
          </div>
        </div>

        <div class="travel-day-box col-xs-4">
          <%= f.label :"訪問日" %>
          <%= f.date_field :travel_day, class: "travel_day" %>
        </div>

        <div class="col-xs-3">
          <div class="evaluation-box">
            <%= f.label :"評価" %>
            <%= f.text_field :evaluation, class: "evaluation" %>
          </div>
          <div class="is-display-box">
            <%= f.label :"表示形式" %>
            <%= f.radio_button :is_display, true, class: "radio_button"  %>
            <%= f.label :is_display, "表示", value: :true %>
            <%= f.radio_button :is_display, false, class: "radio_button"  %>
            <%= f.label :is_displa, "非表示", value: :false %>
          </div>
        </div>
      </div>

        <p class="col-xs-10 check-box">遊び：<%= f.check_box :is_play ,{}, "true", "false" %></p>
        <div class="play-new">
          <%= render "plays/play_form", f: f %>
        </div>
        <p class="col-xs-10 check-box">ホテル：<%= f.check_box :is_hotel ,{}, "true", "false" %></p>
        <div class="hotel-new">
          <%= render "hotels/hotel_form", f: f %>
        </div>
        <p class="col-xs-10 check-box">食事：<%= f.check_box :is_meal ,{}, "true", "false" %></p>
        <div class="meal-new">
          <%= render "meals/meal_form", f: f %>
        </div>
        <div class="submit-btn col-xs-12">
          <%= f.submit "投稿", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
