<% provide(:title, "新規投稿") %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="travel-new">
        <h2 class="travel-new-header">新規投稿</h2>
        <%= form_with(model:@travel, url:travels_path, local:true, method: :post) do |f| %>
          <%= render "layouts/error_messages", resource: @travel %>
          <div class="image-new">
            <div class="">
              <%= f.label :"画像" %><span class="required">必須</span>
              <p>※最大5枚までアップロードできます</p>
            </div>

            <div class="travel__drop__box__container">
              <div class="preview-content">
              </div>
              <div class="label-content">
                <label for="travel_images_attributes_0_image" class="label-box" id="label-box--0">
                  <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
                </label>
              </div>

              <div class="hidden-content">
                <%= f.fields_for :travel_images do |i| %>
                  <%= i.file_field :image_url, type: 'file',name: "travel[travel_images_attributes][0][image_url]", class: "hidden-field", id:"travel_images_attributes_0_image" %>
                  <%= i.file_field :image_url, type: 'file',name: "travel[travel_images_attributes][1][image_url]", class: "hidden-field", id:"travel_images_attributes_1_image" %>
                  <%= i.file_field :image_url, type: 'file',name: "travel[travel_images_attributes][2][image_url]", class: "hidden-field", id:"travel_images_attributes_2_image" %>
                  <%= i.file_field :image_url, type: 'file',name: "travel[travel_images_attributes][3][image_url]", class: "hidden-field", id:"travel_images_attributes_3_image" %>
                  <%= i.file_field :image_url, type: 'file',name: "travel[travel_images_attributes][4][image_url]", class: "hidden-field", id:"travel_images_attributes_4_image" %>
                <% end %>
              </div>
            </div>
          </div>
          
          <%= render "new-edit", f: f, travel: @travel %>
          <div class="submit-btn col-xs-12">
            <%= f.submit "投稿", class: "btn btn-primary pull-right", id:"travel-submit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
