<%= f.fields_for :hotel do |h| %>
  <div class="col-xs-12 name-box">
    <%= h.label :"ホテル名" %><span class="required">必須</span>
    <%= h.text_field :hotel_name, class: "col-xs-12 new-name" %>
  </div>

  <div class="col-xs-12 impression-box">
    <%= h.label :"感想" %><span class="required">必須</span>
    <p>※1000文字以内で記載ください</p>
    <%= h.text_area :impression, class: "col-xs-12 impression" %>
  </div>

  <div class="col-xs-12 price-box">
    <%= h.label :"大人料金" %><span class="required">必須</span>
    <%= h.text_field :adult_price, class: "price" %><span>円</span>
    <%= h.label :"子供料金" %><span class="required">必須</span>
    <%= h.text_field :child_price, class: "price" %><span>円</span>
    <p>※　0円の場合が無料と表示されます</p>
  </div>

  <div class="col-xs-12 address-box">
    <%= h.label :"住所" %><span class="required">必須</span>
    <%= h.text_field :address, class: "col-xs-12 address" %>
  </div>

  <div class="col-xs-12 parking-box">
    <%= h.label :"駐車場" %><span class="required">必須</span>
    <%= h.select :parking, Hotel.parkings.keys, prompt: "-- 選択してください --" %>
  </div>

  <div class="col-xs-12 official_site-box">
    <%= h.label :"公式サイトのURL" %>
    <p>※　あれば記載してくさい</p>
    <%= h.text_field :official_site, class: "col-xs-12 official_site" %>
  </div>
<% end %>
