<div class="col-xs-12 name-box">
  <%= f.label :"ホテル名" %>
  <%= f.text_field :hotel_name, class: "col-xs-12 new-name" %>
</div>

<div class="col-xs-12 impression-box">
  <%= f.label :"感想" %>
  <p>※1000文字以内で記載ください</p>
  <%= f.text_area :hotel_impression, class: "col-xs-12 impression" %>
</div>

<div class="col-xs-12 price-box">
  <%= f.label :"大人料金" %>
  <%= f.text_field :hotel_adult_price, class: "price" %><span>円</span>
  <%= f.label :"子供料金" %>
  <%= f.text_field :hotel_child_price, class: "price" %><span>円</span>
  <p>※　0円の場合が無料と表示されます</p>
</div>

<div class="col-xs-12 address-box">
  <%= f.label :"住所" %>
  <%= f.text_field :hotel_address, class: "col-xs-12 address" %>
</div>

<div class="col-xs-12 parking-box">
  <%= f.label :"駐車場" %>
  <%= f.select :hotel_parking, Hotel.parkings.keys, prompt: "-- 選択してください --" %>
</div>

<div class="col-xs-12 official_site-box">
  <%= f.label :"公式サイトのURL" %>
  <p>※　あれば記載してくさい</p>
  <%= f.text_field :hotel_official_site, class: "col-xs-12 official_site" %>
</div>
