<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left header-title">
      <%= link_to "Trachil", root_path, data: {"turbolinks" => false}, class: "title" %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <%= link_to "#", class: "header-icon",'data-toggle': :dropdown do %>
              <%= image_tag current_user.user_image_id.url,class: "header_image" %>
            <% end %>
            <ul class="dropdown-menu dropdown-link">
              <li class="user_dropdown">
                <%= link_to "マイページ", user_path(current_user), data: {"turbolinks" => false}, class: "dropdown_btn" %>
              </li>
              <li class="user_dropdown">
                <%= link_to "編集", edit_user_path(current_user), data: {"turbolinks" => false},class: "dropdown_btn" %>
              </li>
              <li class="user_dropdown">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false}, class: "dropdown_btn" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <div class="header_btn glyphicon glyphicon-log-in login-btn" id="login-show">ログイン</div>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
