

  <div class="form-group col-xs-12">
    <%= f.label :"名前", class: "control-label" %><span class="required">必須</span>
    <%= f.text_field :name, autofocus: true, class: "form-control-static name" %>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :"メールアドレス", class: "control-label" %><span class="required">必須</span>
    <%= f.text_field :email, class: "form-control-static email" %>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :"場所", class: "control-label" %>
    <%= f.text_field :residence, class: "form-control-static residence"%>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :"子供いる？", class: "control-label" %>
    <%= f.radio_button :is_child, true, class: "radio_button is_child_true" %>
    <%= f.label :is_child, "いる", value: :true, class: "is_child" %>
    <%= f.radio_button :is_child, false, class: "radio_button is_child_false"  %>
    <%= f.label :is_child, "いない", value: :false, class: "is_child" %>
  </div>

  <div class="is_child_show">
    <div class="form-group col-xs-6">
      <%= f.label :"子供の人数", class: "control-label" %><span class="required">必須</span>
      <%= f.text_field :child_people, class: "form-control-static child_people"%><span>人</span>
    </div>

    <div class="form-group from-diaper col-xs-6">
      <%= f.label :"オムツは必要？", class: "control-label" %>
      <%= f.radio_button :is_diaper, true, class: "radio_button" %>
      <%= f.label :is_diaper, "あり", value: :true, class: "is_diaper" %>
      <%= f.radio_button :is_diaper, false, class: "radio_button" %>
      <%= f.label :is_diaper, "なし", value: :false, class: "is_diaper" %>
    </div>

    <div class="form-group col-xs-6">
      <%= f.label :"子供の最年少年齢", class: "control-label" %><span class="required">必須</span>
      <%= f.text_field :child_age, class: "form-control-static child_age"%><span>才</span>
    </div>

    <div class="form-group from-baby_food  col-xs-6">
      <%= f.label :"離乳食は必要？", class: "control-label" %>
      <%= f.radio_button :is_baby_food, true, class: "radio_button" %>
      <%= f.label :is_baby_food, "あり", value: :true, class: "is_baby_food" %>
      <%= f.radio_button :is_baby_food, false, class: "radio_button" %>
      <%= f.label :is_baby_food, "なし", value: :false, class: "is_baby_food" %>
    </div>
  </div>
